@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&display=swap');
@import "./sass/variables";
@import "./sass/searchEngine";
@import "./sass/loader";


* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  background-color: $primaryColor;
  //background-image: radial-gradient(circle,$primaryColor, darken($primaryColor,40%));
  color: $secondaryColor;
  font-family: 'Open Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Header
.title-header {
  font-size: calc(50px + 5vw);
  margin-bottom: 50px;
  font-weight: 300;
  -webkit-text-fill-color: $primaryColor;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: $secondaryColor;

  @media (max-width: 650px) {
    font-size: calc(50px + 0.5vw);
    margin-top: 20px;


  }

  @media (max-width: 420px) {
    font-size: 40px;


  }
  @media (max-width: 320px) {
    font-size: 35px;


  }
}


//Recipes List

.recipes-container {
  display: flex;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 350px) {
    width: 90%;
  }



  .recipes-el {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 90px 1fr;
    position: relative;
    margin: 10px;
    width: 350px;
    min-width: 350px;
    overflow: hidden;
    color: lighten($secondaryColor, 10%);
    height: 200px;
    min-height: 200px;
    background-color: darken($primaryColor, 5%);
    box-shadow:2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .1s;

    &:hover{
      transform: scale(1.05);
    }


    @media (max-width: 350px) {
      width: 100%;
      min-width: 100%;
    }


    img {
      grid-area: 2/1/3/2;
      height: 100px;
      width: 100px;
      margin-left: 10px;
    }

    h3 {
      font-size: 16px;
      grid-area: 1/1/2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px;
      height: 75%;
      width: 100%;
      margin: 0 auto;
      font-weight: 400;
      font-family: 'Raleway', sans-serif;
      color: $primaryColor;
      background-color: lighten($secondaryColor,10%);
      backface-visibility: hidden;

    }


    ul {
      grid-area: 2/2/3/3;
      margin-left: 40px;
      list-style: none;
      padding: 0;
      max-height: 100px;
      overflow-y: scroll;
      font-family: 'Raleway', sans-serif;
      backface-visibility: hidden;



      span {
        font-weight: 600;
        font-size: 16px;


      }

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        font-size: 15px;
        margin-right: 5px;
        border-radius: 50px;
        padding: 0 5px;
      }

    }

    a {
      grid-area: 3/1/4/3;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      padding: 0 10px;
      align-items: center;
      text-decoration: none;
      font-size: 13px;
      height: 25px;
      color: $secondaryColor;
      border: 1px solid $secondaryColor;
      border-radius: 50px;
      text-transform: uppercase;
      transition: .2s;

      &:hover {
        background-color:lighten($secondaryColor,10%);
        color: $primaryColor;
      }
    }

  }
}


